<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Kirja lista</title>
</head>
<body>
<table>
    <tr>
        <td><strong>Title</strong></td>
        <td><strong>Author</strong></td>
        <td><strong>ISBN</strong></td>
    </tr>
    <tr th:each="kirja : ${lista}">
        <td th:text="${kirja.title}"></td>
        <td th:text="${kirja.author}"></td>
        <td th:text="${kirja.isbn}"></td>
        <td><a th:href="@{/delete/{id}(id=${kirja.id})}">Delete</a></td>
    </tr>
</table>
<a th:href="@{/addbook}">Add Book</a>
</body>
</html>